/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a{
    color: #333;
    text-decoration: none;
}

h1,h2,h3{
    /* because we removed all padding in reset */
    padding-bottom: 20px;
}

p{
    margin: 10px 0; /* top/bottom = 10px, left/right = 0*/
}