// Tablets and Smaller
@media(max-width: 800px){
    #header-home{
        height: 30rem;

        .header-content{
            padding-top: 5rem;
        }
    }
}

@media(max-width: 500px){
    #main-nav{
        flex-direction: column;
        align-items: center;

        li{
            padding: 1rem;
        }
    }
    #header{
        &-home{
            height: 10rem;
            border-bottom: 3px solid $main-color;
            background-position: 20% 30%;

            .header-content{
                display: none;
            }
        }

        &-inner{
            height: 10rem;
        }
    }

    // stack Grid columns
    #home-a .specials,
    #home-b .stats,
    #home-c .process,
    #about-d .testimonials,
    #contact-b .contact-info,
    .items{
        grid-template-columns: 1fr;
    }

    #home{
        &-a{
            .specials div{
                border-bottom: 1px $light-color solid;
                padding-bottom: 1rem;

                &:last-child{
                    border: none;
                    padding-bottom: 0;
                }
            }

        }
        &-b{
            .stats div{
                padding: 2rem 0 1rem 0;
            }
        }
    }

    // About
    #about{
        &-a{
            .about-info{
                grid-template-areas: 
                'bioimage'
                'bio'
                'aw1'
                'aw2'
                'aw3'
                ;
            }
        }
        &-c{
            display: none;
        }
    }

    // contact
    #contact{
        &-a{
            .text-fields{
                grid-template-areas: 
                'name'
                'subject'
                'email'
                'phone'
                'message'
                ;
            }
        }
        &-b{
            div{
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid #555;

                &:last-child{
                    border: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }

        &-c{
            h1{
                font-size: 2rem;
            }
        }
    }
    // footer
    #main-footer{
        height: 7rem;
        .footer-content{
            flex-direction: column;
            padding: 1rem;
            height: 5rem;
        }
    }
}
