@import 'variables';

* {
    margin: 0;
    padding: 0;
}

body{
    background: $light-color;
    color: $dark-color;
    font-family: $font-stack;
    line-height: 1.5;
}

header{
    background: $dark-color;
    color: $light-color;
    padding: 1rem;

    // nesting
    h1{
        text-align: center;
    }
}

.section{
    padding: 3rem;
    h3{
        font-size: 2rem;
    }
    // & means take the name of parent which is section-a
    &-a{
        background: $primary-color;
        color: #fff;
    }
    // & means take the name of parent which is section-a
    &-b{
        background: $secondary-color;
        color: #fff;
    }
}

a{
    color: #333;

    &:hover{
        color: coral;
    }
}

// Shared properties.
%btn-shared{
    display: inline-block;
    padding: 0.7rem 2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
}

// using the above sharing
.btn{
    &-light {
        @extend %btn-shared;
        background-color: $light-color;
        color: #333;
    }
    &-dark{
        @extend %btn-shared;
        background-color: $dark-color;
        color: #fff;
    }
}
