/* Text Color */
.text-primary{
    color: #28a745;
}

.text-secondary{
    color: #0284d0;
}

/* Button */
.btn{
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    opacity: 0.9;
}

.btn-primary{
    background-color: #28a745;
    color: #fff;
}
.btn-secondary{
    background-color: #0284d0;
    color: #fff;
}
.btn-dark{
    background-color: #333;
    color: #fff;
}
.btn-light{
    background-color: #f4f4f4;
    color: #333;
}

/* flex items */
.flex-items{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
}

/* first div below flex-items */
.flex-items > div{
    padding: 20px;
}