#navbar .logo{
    float: none;
    text-align: center;
}

/* Stack the item on top of one another */
#navbar ul,
#navbar ul li{
    float: none;
}

#navbar ul li a{
    padding: .313rem;
    border-bottom: #444 dotted 1px;
}

/* showcase */
#showcase{
    height: 100%;
}

#showcase .showcase-content{
    padding-top: 70px;
    padding-bottom: 30px;
}

/* home-info */
#home-info{
    height: 550px;
}

#home-info .info-img{
    display: none;
}

#home-info .info-content{
    float: none;
    width: 100%;
}

/* Features */
.box{
    float: none;
    width: 100%;
}

/* About Page */
#about-info .info-right,
#about-info .info-left{
    float: none;
    width: 100%;
}

#about-info .info-right{
    margin-top: 30px;
}

.l-heading{
    text-align: center;
}

/* contact */
#contact-info .box{
    border-bottom: #444 dotted 1px;
}