:root{
    --page-1-color: steelblue;
    --page-2-color: tan;
    --page-3-color: teal;
    --page-4-color: slateblue;
    --animate-speed: 1s;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    color: #fff;
    /* reset margin & padding */
    margin: 0;
    padding: 0;
    /* hide the scroll bar */
    overflow: hidden;
}

/* page Color */
#page-1 {background-color: var(--page-1-color);}
#page-2 {background-color: var(--page-2-color);}
#page-3 {background-color: var(--page-3-color);}
#page-4 {background-color: var(--page-4-color);}

/* Page */
.page{
    display: flex;
    /* change flex direction from horizontal to vertical */
    flex-direction: column;
    /* 1 page == full viewport */
    height: 100vh;
    /* center algin center, horizontal */
    align-items: center;
    /* center align center, vertical */
    justify-content: center;
    text-align: center;
    /* padding top,bottom = 0, left,right=4rem */
    padding: 0 4rem;
}

.page h1{
    font-size: 4rem;
    line-height: 1.2;
    margin: 1rem;
}

.page p{
    font-size: 1.3rem;
}

.btn{
    display: inline-block;
    /* top,bottom-1rem left,right-2rem */
    padding: 1rem 2rem;
    background: #f4f4f4;
    color: #333;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.1rem;
    transition: all 0.3s ease-in;
}

.btn:hover,
.btn-dark{
    background: #333;
    color: #f4f4f4;
}
.btn-dark:hover{
    background: #f4f4f4;
    color: #333;
}

/* Page Animation */
#page-1 h1{
    transform: translateY(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

#page-1 p{
    transform: translateX(-1800px);
    animation: paragraph var(--animate-speed) forwards ease-in 2s;
    
}

@keyframes heading{
    to{
        transform: translateY(0);
        color: greenyellow;
    }
}

@keyframes paragraph{
    to{
        transform: translateX(0);
        color: #333;
    }
}
