#what .items{
    display: block;
    padding: 1rem;
}
/* Align Icon to Left */
#what .items .item{
    /* flex items can itself be flex container */
    display: flex;

    text-align: left;
}

/* Position the Icon */
#what .items .item i{
    margin-right: 1.3rem;
    /*  align the font awesom symbol to center */
    align-self: center;

    margin-bottom: 0;
}

/* SmartPhones */
@media(max-width: 500px){
    #navbar{
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo{
        margin-bottom: 0.5rem;
        text-align: center;
    }

    #navbar ul{
        padding: 0.5rem;
    }

    #showcase .showcase-content{
        top: 110px;
    }

    #who{
        display: block;
    }

    #who .who-img{
        display: none;
    }

    #clients .items img{
        width: 80%;
    }

    /* target the last element */
    #clients .items div:last-child{
        display: none;
    }
}