@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

/* Utility Classes */
.text-primary{
    color: #93cb52;
}

#navbar{
    display: flex;
    /* Stick the NavBar at 0 */
    position: sticky;
    top: 0;
    background: #333;
    /* Non Links will change color */
    color: #fff;
    /* H1 to the Left, UL to the right, space inbetween */
    justify-content: space-between;
    /* NavBar should always be at top */
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    /* 2nd Flex for the UL>LI */
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}