@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: underline;
}

p{
    margin: 0.75rem 0;
}