@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem 0;
}

/* Utility Classes */
.text-primary{
    color: #93cb52;
}

.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    /* need for line-height */
    line-height: 1.1rem;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    /* remove the border, in case we apply this btn class on button */
    border: none;
    border-radius: 5px;
}

.btn:hover{
    background: #7ab436;
}

.btn-dark{
    background: #333;
    color: #fff;
}

.container{
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}
/* Utility END */

#navbar{
    display: flex;
    /* Stick the NavBar at 0 */
    position: sticky;
    top: 0;
    background: #333;
    /* Non Links will change color */
    color: #fff;
    /* H1 to the Left, UL to the right, space inbetween */
    justify-content: space-between;
    /* NavBar should always be at top */
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    /* 2nd Flex for the UL>LI */
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}

/* ShowCase */
#showcase{
    background: #333 url(../img/showcase.jpg) no-repeat center center/cover;
    /* Since the backgroud covers only the content, Setting a height gives dimension */
    height: 100vh;
    color: #fff;
}

#showcase .showcase-content{
    /* horizontally aligns the content */
    display: flex;

    /* make it vertical */
    flex-direction: column;

    /* Vertically and Horizontally center alignment */
    text-align: center;
    justify-content: center;
    align-items: center;
    /* The above 3 could not algin vertical center because the content doesnot have
    height */
    height: 100%;

    /* padding */
    padding: 0 2rem;

    /* overlay black tinge */
    position: absolute;
    top: 60px;
    left: 0;
    /* Width should be given else the tinge is not align properly */
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}